<nav>
  <ul>
    <li>
      <a class="list-click_item" routerLink="/versus" routerLinkActive="active">
        <span class="list-click_item_text">versus</span>
      </a>
    </li>
    <li>
      <a class="list-click_item" routerLink="/list" routerLinkActive="active">
        <span class="list-click_item_text">list</span>
      </a>
    </li>
    <li>
      <a class="list-click_item" routerLink="/admin" routerLinkActive="active">
        <span class="list-click_item_text">admin</span>
      </a>
    </li>
  </ul>
</nav>


<router-outlet></router-outlet>